<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Add Your Details</title>
  </head>
  <body>
  
 
   <form action="/createresume" method="POST" id="resumeform" > 
    <div id="personalDetails" style="height: 580px;">
      <div class="topBanner"> <h1 id="topHeading" class="DivTitle">Personal Details</h1></div>
        <div style="width:30%; float:left "  class="mb-3" title="Please Make Sure Your Uplaod a Professional Picture">
          <label for="formFile" class="form-label"><b>Uplaod Your Profile Picture </b></label>
          <input  class="form-control" type="file" id="formFile" name="candidateProfilePicture" id="candidateProfilePicture">
        </div>


        <div style="width:30%; float:left; margin-left:60px"  class="mb-3" title="Enter Your Name">
          <label for="formFile" class="form-label"><b>First Name</b></label>
          <input required class="form-control" type="text" id="candidateFirstName" name="candidateFirstName" >
        </div>

 <div style="width:30%; float:left; margin-left:60px"  class="mb-3" title="Enter Your Name">
  <label for="formFile" class="form-label"><b>Last Name</b></label>
  <input required class="form-control" type="text" id="candidateLastName" name="candidateLastName">
</div>


    <div class="mb-3" >
  <label for="exampleFormControlInput1" class="form-label"><b>Technical Skills</b></label>
  <input required class="form-control" id="candidateTechnicalSkills" name="candidateTechnicalSkills" placeholder="E.g Python, C++, Image Processing, Node Js. Seperated by , or -">
</div>

<div class="mb-3" >
  <label for="exampleFormControlInput1" class="form-label"><b>Soft Skills</b></label>
  <input required class="form-control" id="candidateSoftSkills" name="candidateSoftSkills" placeholder="E.g Leadership, Teamwork. Seperated by , or -">
</div>

  
<div >
<div class="insideContactSection"> <b>Email</b><input required placeholder="E.g usamabhatti@gmail.com" class="contactInput" type="email" id="candidateEmail" name="candidateEmail"> </div>
<div class="insideContactSection"> <b>Phone Number</b><input required class="contactInput" placeholder="E.g 03344061210" type="number" id="candidatePhone" name="candidatePhone"></div>
<div class="insideContactSection"> <b>Address</b><input required class="contactInput"  type="text" placeholder="E.g Model Town Lahore" id="candidateAddress" name="candidateAddress"></div>
 
</div>

<div >
<div class="insideContactSection"> <a href="#" class="fa fa-facebook"></a><input required placeholder="Insert Link to Your Profile" class="contactInput"  id="candidateFacebook" name="candidateFacebook"> </div>
<div class="insideContactSection"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" class="fa fa-linkedin"></a><input required placeholder="Insert Link to Your Profile"  class="contactInput"  type="text" id="candidateLinkedIn" name="candidateLinkedIn"></div>
<div class="insideContactSection"> <a href="#" class="fa fa-github"></a><input required placeholder="Insert Link to Your Profile"  class="contactInput"  type="text" id="candidateGithub" name="candidateGithub"></div>
 
</div>

<a href="#educationDetails"><button type="button" class="footerButton"> NEXT</button> </a>
      </div>
   


 <!-- Education Div  -->
<div id="educationDetails" style="margin-top:100px">
 
     <div class="topBanner"> <h1 class="DivTitle">Education</h1></div>
      <h4>1</h4>
      <div style="width:30%; float:left "  class="mb-3">
  <label class="form-label"><b>Degree </b></label>
  <input required class="form-control" type="text" placeholder="E.g BS CS" id="candidateDegree1" name="candidateDegree1">
</div>


      <div style="width:30%; float:left; margin-left:60px"  class="mb-3" >
  <label for="formFile" class="form-label"><b>Institution</b></label>
  <input required class="form-control" type="text" placeholder="E.g FAST NU" id="candidateInstitution1" name="candidateInstitution1">
</div>

 <div style="width:30%; float:left; margin-left:60px"  class="mb-3" >
  <label for="formFile" class="form-label"><b>Area of Specilization</b></label>
  <input required class="form-control" type="text" placeholder="E.g Machine Leraning" id="candidateAreaOfSpecilization1" name="candidateAreaOfSpecilization1">
</div>


     <div class="mb-3">
  <div class="insideContactSectionOfEducation "> <b>Batch</b><input required class="contactInput" type="text" placeholder="E.g 2016-2020" id="candidateBatch1" name="candidateBatch1"> </div>
   <div class="insideContactSectionOfEducation "> <b>Grade/Marks</b><input required class="contactInput" type="text" placeholder="E.g A+ or 3.31" id="candidateGrade1" name="candidateGrade1"> </div>
   <div class="insideContactSectionOfEducation "> <b>Achievements</b><input required class="contactInput" type="text"  placeholder="E.g Research Paper" id="candidateAchievements1" name="candidateAchievements1"> </div>
</div>
<h4>2</h4>
  <div style="width:30%; float:left "  class="mb-3">
  <label class="form-label"><b>Degree </b></label>
  <input required class="form-control" type="text" placeholder="E.g BS CS" id="candidateDegree2" name="candidateDegree2">
</div>


      <div style="width:30%; float:left; margin-left:60px"  class="mb-3" >
  <label for="formFile" class="form-label"><b>Institution</b></label>
  <input required class="form-control" type="text" placeholder="E.g FAST NU" id="candidateInstitution2" name="candidateInstitution2">
</div>

 <div style="width:30%; float:left; margin-left:60px"  class="mb-3" >
  <label for="formFile" class="form-label"><b>Area of Specilization</b></label>
  <input required class="form-control" type="text" placeholder="E.g Machine Leraning" id="candidateAreaOfSpecilization2" name="candidateAreaOfSpecilization2">
</div>


     <div class="mb-3">
  <div class="insideContactSectionOfEducation "> <b>Batch</b><input required class="contactInput" type="text" placeholder="E.g 2016-2020"  id="candidateBatch2" name="candidateBatch2"> </div>
   <div class="insideContactSectionOfEducation "> <b>Grade/Marks</b><input required class="contactInput" type="text" placeholder="E.g A+ or 3.31"  id="candidateGrade2" name="candidateGrade2"> </div>
   <div class="insideContactSectionOfEducation "> <b>Achievements</b><input required class="contactInput" type="text" placeholder="E.g Research Paper" id="candidateAchievements2" name="candidateAchievements2"> </div>
</div>

 
    <div class="mb-3" >
  <a href="#personalDetails"><button type="button" class="footerButton" style="margin-left: 500px;"> BACK</button></a>
<a href="#workExperience "><button class="footerButton" type="button"> NEXT</button></a>
      </div>   



      



<!-- Work Expereince  -->
</div>
<div id="workExperience" style="margin-top:150px">
     <div class="topBanner"> <h1 class="DivTitle">Work Expereince</h1></div>
          <h4>1</h4>
      <div style="width:30%; float:left "  class="mb-3">
  <label class="form-label"><b>Organization</b></label>
  <input required class="form-control" type="text" placeholder="E.g Deltalabs" id="candidateOrganization1" name="candidateorganization1">
</div>


      <div style="width:30%; float:left; margin-left:60px"  class="mb-3" >
      
  <label for="formFile" class="form-label"><b>Role</b></label>
  <input required class="form-control" type="text" placeholder="E.g Software Engineer" id="candidateRole1" name="candidateRole1">
</div>

 <div style="width:30%; float:left; margin-left:50px"  class="mb-3" >
  <label for="formFile" class="form-label"><b>Short Detail</b></label>
  <input required class="form-control" type="text" placeholder="E.g Worked on Front End of Projects" id="candidateRoleDetails1" name="candidateRoleDetails1">
</div>


     <div class="mb-3">
       
  <div class="insideContactSectionOfEducation"> <b>From</b><input required class="contactInput" type="text" placeholder="E.g Jan 2020" id="candidateRoleStart1" name="candidateRoleStart1"> </div>
   <div class="insideContactSectionOfEducation "> <b>To</b><input required class="contactInput" type="text" placeholder="E.g Feb 2020" id="candidateRoleEnd1" name="candidateRoleEnd1"> </div>
   <div class="insideContactSectionOfEducation "> <b>Type</b><input required class="contactInput" type="text" placeholder="E.g Remote/On Site" id="candidateRoleType1" name="candidateRoleType1"> </div>
   </div>
   <h4>2</h4>

  <div style="width:30%; float:left "  class="mb-3">
  <label class="form-label"><b>Organization </b></label>
  <input required class="form-control" type="text" placeholder="E.g Deltalabs" id="candidateOrganization2" name="candidateorganization2">
</div>


      <div style="width:30%; float:left; margin-left:60px"  class="mb-3" >
        
  <label for="formFile" class="form-label"><b>Role</b></label>
  <input required class="form-control" type="text" placeholder="E.g Software Engineer" id="candidateRole2" name="candidateRole2">
</div>

 <div style="width:30%; float:left; margin-left:60px"  class="mb-3" >
  <label for="formFile" class="form-label"><b>Short Detail</b></label>
  <input required class="form-control" type="text" placeholder="E.g Worked on Front End of Projects" id="candidateRoleDetails2" name="candidateRoleDetails2">
</div>


     <div class="mb-3">
     
  <div class="insideContactSectionOfEducation "> <b>From</b><input required class="contactInput" type="text" placeholder="E.g Jan 2020" id="candidateRoleStart2" name="candidateRoleStart2"> </div>
   <div class="insideContactSectionOfEducation "> <b>To</b><input required class="contactInput" type="text" placeholder="E.g Feb 2020" id="candidateRoleEnd2" name="candidateRoleEnd2"> </div>
   <div class="insideContactSectionOfEducation "> <b>Type</b><input required class="contactInput" type="text" placeholder="E.g Remote/On Site" id="candidateRoleType2" name="candidateRoleType2"> </div>
</div>


    <div class="mb-3" >
  <a href="#educationDetails"><button class="footerButton" type="button" style="margin-left: 500px;"> BACK</button></a>
<a href="#certifications"><button class="footerButton" type="button"> NEXT</button></a>
      </div> 
      <!-- Certifications zzz-->
</div>
<div id="certifications" style="margin-top:150px">
     <div class="topBanner"> <h1 class="DivTitle">Certifications & Licenses</h1></div>
          <h4>1</h4>
      <div style="width:30%; float:left "  class="mb-3">
  <label class="form-label"><b>Name</b></label>
  <input required class="form-control" type="text" placeholder="E.g Certified ROR Expert" id="candidateCertificationName1" name="candidateCertificationName1">
</div>


      <div style="width:30%; float:left; margin-left:60px"  class="mb-3" >
      
  <label for="formFile" class="form-label"><b>Awarded By</b></label>
  <input required class="form-control" type="text" placeholder="E.g Arfa IT Park" id="candidateCertificationAwardedBy1" name="candidateCertificationAwardedBy1">
</div>

 <div style="width:30%; float:left; margin-left:50px"  class="mb-3" >
  <label for="formFile" class="form-label"><b>Description</b></label>
  <input required class="form-control" type="text" placeholder="E.g Got Hands-On Expereince of......" id="candidateCertificationDetail1" name="candidateCertificationDetail1">
</div>


     <div class="mb-3">
       
  <div class="insideContactSectionOfEducation "> <b>Issue Date</b><input required class="contactInput" type="text" placeholder="E.g Jan 2020" id="issuesDateCertificate1" name="issuesDateCertificate1"> </div>
   <div class="insideContactSectionOfEducation "> <b>URL</b><input required class="contactInput" type="text" placeholder="E.g URL to Credentials" name="certificateURL1" > </div>
   <div class="insideContactSectionOfEducation "> <b>Grade</b><input required class="contactInput" type="text" placeholder="E.g A+ "  name="certificategrade1"> </div>
   
   
    <!-- zzz-->
   <h4>2</h4>

  <div style="width:30%; float:left "  class="mb-3">
  <label class="form-label"><b>Name </b></label>
  <input required class="form-control" type="text" placeholder="E.g Certified Node JS" id="candidateCertificationName2" name="candidateCertificationName2">
</div>


      <div style="width:30%; float:left; margin-left:60px"  class="mb-3" >
        
  <label for="formFile" class="form-label"><b>Awarded By</b></label>
  <input required class="form-control" type="text" placeholder="E.g Arfa IT Park" id="candidateCertificationAwardedBy2" name="candidateCertificationAwardedBy2">
</div>

 <div style="width:30%; float:left; margin-left:60px"  class="mb-3" >
  <label for="formFile" class="form-label"><b>Description</b></label>
  <input required class="form-control" type="text" placeholder="E.g Got Hands-On Expereince of......" id="candidateCertificationDetail2" name="candidateCertificationDetail2">
</div>


     <div class="mb-3">
     
  <div class="insideContactSectionOfEducation "> <b>Issue Date</b><input required class="contactInput" type="text" placeholder="E.g 2016-2020" name="issuesDateCertificate2"> </div>
   <div class="insideContactSectionOfEducation "> <b>URL</b><input required class="contactInput" type="text" placeholder="E.g URL to Credentials"  name="certificateURL2"> </div>
<div class="insideContactSectionOfEducation "> <b>Grade</b><input required class="contactInput" type="text" placeholder="E.g A+" name="certificategrade2"> </div>
</div>


    <div class="mb-3" >
  <a href="#workExperience"><button class="footerButton" type="button" style="margin-left: 500px; "> BACK</button></a>

      </div> </form>


   <button type="submit" class="btn btn-primary" id="submitButtonResume">Submitt</button>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

   
  </body>
</html>