A {
    text-decoration: none;
}

b {
    text-decoration: none;
}

pre {
    text-decoration: none;
}

#imgDiv {
    width: 200px;
    height: 250px;
    border-radius: 40%;
}

#imageDiv {
    margin-left: 550px;
}

#educationDiv {
    width: 100%;
}

#education1 {
    width: 50%;
    float: left;
}

#education2 {
    width: 50%;
    float: left;
}

#experienceDiv {
    width: 100%;
}

#experience1 {
    width: 50%;
    float: left;
}

#exprience2 {
    width: 50%;
    float: left;
}

#certificationsDiv {
    width: 100%;
}

#certificate1 {
    width: 50%;
    float: left;
}

#certificate2 {
    width: 50%;
    float: left;
}